
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    height: 100% !important;
    

}

.navbar
{
    height: 15% !important;
}


  tbody {
        display:block;
        max-height:480px;
        overflow-y:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    font-family: 'Noto Sans', sans-serif;
}
  thead {
    width: calc( 100% - 0em )
  } 

  .btn-primary
  {
    width:100px !important;
    background-color: #14AED5 !important;
  }

  .btn-secondary
  {
    background-color: white !important;
    border: 2px solid #14AED5 !important;
    color: #14AED5 !important;
    width:100px !important;
  }


  .table-bordered thead th {
    border-bottom-width: 2px;
    text-align: center;
    background-color: #14AED5;
    color: #fff;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
    text-align: center;
}